@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Gill Sans', sans-serif;
}

.header {
  height: 45px;
}

.font-lato {
  font-family: lato, sans-serif !important;
}

.primary-bg {
  background-color: #1a3aa2;
}

.secondary-bg {
  background-color: #4162a4;
}

.divider-bg {
  background-color: #193366;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries-container > div:nth-child(4n-1),
.countries-container > div:nth-child(4n+2) {
  background-color: #2c4c8c;
}

.country-element {
  height: 225px;
}

.main-date-time {
  font-size: 8px;
}

.main-section {
  height: 400px;
  padding-top: 20px;
}

.img-container {
  height: 125px;
  width: 125px;
}

.country-main-section {
  height: 250px;
  padding-top: 20px;
}

.componets-container > div:nth-child(even) {
  background-color: #4162a4;
}

.componets-container > div:nth-child(odd) {
  background-color: #2c4c8c;
}
